<div class="container_carousel">
  <button class="prev" (click)="prevImage()">❮</button>
  <div class="image-container">
    <div class="container_texts">
      <h2>Não perca as incrivéis ofertas da mercearia</h2>
      <p>Increva-se na nossa newsletter</p>
      <div class="container_input">
        <img src="icons/email.png">
        <input type="email" placeholder="Seu email" id="email">
        <button>Se Inscreva</button>
      </div>
    </div>
    <img [src]="images[currentIndex]" alt="Imagem do Carrossel">
    <div>
    </div>
  </div>
  <button class="next" (click)="nextImage()">❯</button>
  <div class="container_indicators">
    <span *ngFor="let img of images; let i = index"
          [class.active]="i === currentIndex"
          (click)="goToImage(i)">
    </span>
  </div>
</div>
