.container_carousel {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/img/bg3-card.png');
  background-position: center;
}

.image-container {
  width: 90%;
}

.image-container > img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  object-position: top left;
  border-radius: 30px;
  position: relative;
}

.container_texts {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 84%;
  gap: 30px;
  padding-left: 50px;
}

.container_texts > h2 {
  font-family: var(--title-font);
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 46px;
  color: var(--detail-blue);
  width: 50%;
}

.container_texts > p {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 24px;
  color: var(--color-gray2);
}

.container_input {
  position: relative;
}

.container_input > img {
  position: absolute;
  top: 20.5px;
  left: 30px;
}

#email {
  width: 50%;
  height: 54px;
  border-radius: 50px;
  border: none;
  padding-left: 58px;
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1rem;
  line-height: 19.2px;
  color: var(--color-gray);
}

.container_input > button {
  width: 157px;
  height: 56px;
  border-radius: 50px;
  border: none;
  background-color: var(--primary-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 400px;
}

.container_indicators {
  position: absolute;
  bottom: 50px;
  display: flex;
  gap: 5px;
}

.container_indicators > span {
  cursor: pointer;
  width: 15px;
  height: 15px;
  background: none;
  border-radius: 50%;
  border: 1px solid var(--detail-blue);
}

.container_indicators .active {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.prev,
.next {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: var(--detail-blue);
  border: 1px solid var(--detail-blue);
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev {
  position: absolute;
  z-index: 10;
  left: 80px;
}

.next {
  position: absolute;
  z-index: 10;
  right: 80px;
}

