<mat-dialog-content>
    <div class="teste">
        <h2 mat-dialog-title>Seu Carrinho</h2>
        <button mat-dialog-close>X</button>
    </div>
    <div *ngIf="cartItems.length === 0">
        <p>Seu carrinho está vazio</p>
    </div>

    <div *ngIf="cartItems.length > 0">
        <ul>
            <li *ngFor="let item of cartItems">
                <img [src]="item.product.image">
                <p> {{item.product.name}} - R$ {{item.product.price}} x {{item.quantity}} </p>
                <button (click)="removeItem(item)">Remover</button>
            </li>
        </ul>
        <p>Total: R$ {{getTotalPrice()}}</p>
    </div>
</mat-dialog-content>


