<mat-dialog-content>
    <div class="container_header__cart">
        <img src="icons/full-cart.png"> 
        <h2>Seu Carrinho</h2>
        <button mat-dialog-close>X</button>
    </div>
    <div *ngIf="cartItems.length === 0" class="container_empty-cart">
        <p>Seu carrinho está vazio</p>
        <img src="icons/empty-cart.png">
    </div>

    <div *ngIf="cartItems.length > 0" class="container_items-cart">
        <ul *ngFor="let item of cartItems">
            <li>
                <img [src]="item.product.image">
                <p id="product-name"> {{item.product.name}} </p>
                <div class="container_price__bin">
                    <div class="container_price-quantity">
                        <p> {{item.product.price}}</p>
                        <p><span>Qntd:</span> {{item.quantity}}</p>
                    </div>
                    <button (click)="removeItem(item)"><img src="icons/bin.png"></button>
                </div>
            </li>
        </ul>
        <div class="container_footer__cart">
            <p id="total"><span>Total:</span> R$ {{getTotalPrice()}}</p>
            <button class="button-payment"><img src="icons/payment.png" class="payment">Ir para pagamento</button>
        </div>
    </div>
</mat-dialog-content>


