.container_footer {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.footer_container__company,
.footer_container__account,
.footer_container__corporate,
.container_install-payment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container_footer__nest > p {
  font-weight: 400;
  color: var(--detail-blue);
  font-size: 1.063rem;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 14px;
}

.footer_nest__infos {
  font-size: 0.938rem;
  font-weight: 600;
  line-height: 24px;
  color: var(--detail-blue);
  display: flex;
  gap: 8px;
  align-items: center;
}

h2 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 28.8px;
  color: var(--detail-blue);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

li {
  font-size: 0.938rem;
  color: var(--detail-blue);
  font-weight: 500;
  line-height: 24px;
}

li:hover {
  color: var(--primary-color);
}

.footer_install-app {
  display: flex;
  gap: 12px;
}

.footer_install-app > img {
  width: 128px;
  margin-top: 20px;
}

.container_payment-gateway {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: baseline;
}

.container_footer__bottom {
  border-top: 1px solid var(--detail-green);
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.container_rights-reserved {
  font-size: 0.875rem;
  color: var(--color-gray2);
  font-weight: 400;
  line-height: 24px;
}

span {
  font-weight: 600;
  color: var(--primary-color);
}

.container_follow {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

.container_follow > p:first-child {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1rem;
  line-height: 19.2px;
  color: var(--detail-blue);
}

button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.container_follow > p:last-child {
  flex-basis: 100%;
  color: var(--color-gray2);
  font-size: 0.875rem;
  font-weight: 400;
  text-align: right;
}
