<div class="container_footer">
  <div class="container_footer__nest">
    <img src="img/logo.png" alt="logo nest">
    <p>Nest Mart & Grocery Store Website</p>
    <div class="footer_nest__infos">
      <img src="icons/address.png">
      <p>Endereço: Av. Copacabana, 1234 - RJ</p>
    </div>
    <div class="footer_nest__infos">
      <img src="icons/call.png">
      <p>Contate-nos: (xx)1111-11111</p>
    </div>
    <div class="footer_nest__infos">
      <img src="icons/email-footer.png">
      <p>Email: salenest.com</p>
    </div>
    <div class="footer_nest__infos">
      <img src="icons/time.png">
      <p>Funcionamento: 10:00 - 18:00</p>
    </div>
  </div>
  <div class="footer_container__company">
    <h2>Nest</h2>
    <ul>
      <li>Sobre Nós</li>
      <li>Informações sobre Delivery</li>
      <li>Política de Privacidade</li>
      <li>Termos e Condições</li>
      <li>Contate-nos</li>
      <li>Central de Suporte</li>
      <li>Carreira</li>
    </ul>
  </div>
  <div class="footer_container__account">
    <h2>Minha Conta</h2>
    <ul>
      <li>Entar na Conta</li>
      <li>Ver Carrinho</li>
      <li>Meus Favoritos</li>
      <li>Rastrear Meu Pedido</li>
    </ul>
  </div>
  <div class="footer_container__corporate">
    <h2>Corporativo</h2>
    <ul>
      <li>Torne-se um fornecedor</li>
      <li>Programa de Afiliados</li>
      <li>Negócios Agrícolas</li>
      <li>Carreiras Agrícolas</li>
      <li>Nossos Fornecedores</li>
      <li>Acessibilidade</li>
      <li>Promoções</li>
    </ul>
  </div>
  <div class="container_install-payment">
    <h2>Instale Nosso App</h2>
    <div class="footer_install-app">
      <img src="img/app-store.jpg">
      <img src="img/google-play.jpg">
    </div>
    <div class="container_payment-gateway">
      <h2>Pagamento Seguro</h2>
      <img src="img/cards.png">
    </div>
  </div>
</div>
<div class="container_footer__bottom">
  <div class="container_rights-reserved">
    <p>© 2025, <span>Nest</span> - HTML Ecommerce Template</p>
    <p>Todos os Direitos Reservados</p>
  </div>
  <div class="container_follow">
    <p>Nos siga</p>
    <button><img src="icons/facebook.png"></button>
    <button><img src="icons/twitter.png"></button>
    <button><img src="icons/instagram.png"></button>
    <button><img src="icons/pinterest.png"></button>
    <button><img src="icons/youtube.png"></button>
    <p>15% de desconto para quem seguir</p>
  </div>
</div>
