<header class="container_header">
  <img src="img/logo.png" alt="Logo Nest">
  <div class="header_container__input">
    <select name="select-categorys" id="select-categorys">
      <option value="all">Todas as Categorias</option>
    </select>
    <input type="text" name="search-itens" id="search" placeholder="Pesquise seus itens...">
    <span><img src="icons/search.png"></span>
  </div>
  <div class="header_container__icons">
    <div class="container_icons__label">
      <img src="icons/heart.png"><span>Favoritos</span>
    </div>
    <div class="container_icons__label">
      <img src="icons/cart.png"><span>Carrinho</span>
    </div>
    <div class="container_icons__label">
      <img src="icons/user.png"><span>Perfil</span>
    </div>
  </div>
</header>
