.container_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 100px;
  border-bottom: 1px solid var(--border-color);

  @media (min-width:769px) and (max-width: 1110px) {
    justify-content: center;
    gap: 20px;
  }

  @media (max-width: 768px) {
    justify-content: space-between;
    padding: 20px 20px;
   }
}

.menu_responsive {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.menu_responsive > img {
  width: 24px;
}

#logo{
  @media (max-width: 1120px) {
    width: 120px;
  }
}

.header_container__input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;

  @media (max-width: 1120px) {
    width: 400px;
  }

  @media (max-width: 768px) {
    display: none;
   }
}

.header_container__input::before {
  content: '';
  width: 1px;
  height: 20px;
  background-color: var(--detail-gray);
  position: absolute;
  left: 160px;
}

#select-categorys {
  width: 155px;
  height: 50px;
  border: 2px solid var(--detail-green);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 0.800rem;
  line-height: 50px;
  color: var(--detail-blue);
  outline: none;
  cursor: pointer;
  padding-left: 5px;

  @media (max-width: 1120px) {
   height: 40px;
  }
}

select > option {
  background-color: var(--detail-green);
  color: var(--detail-blue);
  font-weight: 900;
}

select > option:checked {
  background-color: var(--primary-color);
  color: #FFFFFF;
}

#search {
  width: 100%;
  height: 44px;
  border: 2px solid var(--detail-green);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  padding-left: 12px;
  color: var(--color-gray);
  line-height: 16.8px;
  font-family: var(--body-font);
  font-size: 0.875rem;

  @media (max-width: 1120px) {
    height: 34px;
   }
}

#search:focus {
  outline: none;
}

span > img {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 12px;
  right: 10px;
  cursor: pointer;

  @media (max-width: 1120px) {
    bottom: 8px;
   }

   @media (max-width: 985px) {
    width: 20px;
    height: 20px;
    bottom: 10px;
   }
}

.location {
  width: 164px;
  @media (max-width: 768px) {
    display: none;
  }
}

.location > button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 8px;
  height: 40px;
  color: var(--primary-color);
  font-family: var(--title-font);
  font-weight: 500;
  line-height: 35px;
  font-size: 0.875rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 5px 5px 15px 0px #0000000D;

  @media (max-width: 1120px) {
    height: 35px;
   }

   @media (max-width: 1005px) {
    height: 40px;
    line-height: 15px;
   }

}

.header_container__icons {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: end;

  @media (max-width: 1120px) {
    justify-content: start;
   }
}

.header_container__icons > img {
  @media (max-width: 768px) {
    width: 20px;
   }
}

.container_icons {
  position: relative;
  cursor: pointer;
}

.count {
  position: absolute;
  border: none;
  top: -5px;
  right: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--primary-color);
  font-size: 0.75rem;
  line-height: 14px;
  display: flex;
  text-align: center;
  color: #FFFFFF;
}




