<header class="container_header">
  <div class="menu_responsive">
    <img src="icons/menu.png">
  </div>
  <img src="img/logo.png" alt="Logo Nest" id="logo">
  <div class="header_container__input">
    <select name="select-categorys" id="select-categorys" disabled >
      <option value="0">Todas as Categorias</option>
      <option value="1">Leites e Laticínios</option>
      <option value="2">Vinhos e Alcólicos</option>
      <option value="3">Beleza</option>
      <option value="4">Pets</option>
      <option value="5">Guloseimas</option>
      <option value="6">Alimentos Básicos</option>
      <option value="7">Frutas</option>
      <option value="8">Legumes e Verduras</option>
    </select>
    <input type="text"
    name="search-itens"
    id="search"
    placeholder="Pesquise seus itens..."
    (input)="updateSearchTerm($event)" />
    <span>
      <img src="icons/search.png"/>
    </span>
  </div>
  <div class="location">
    <button (click)="getUserLocation()"><img src="icons/loc.png"> Sua Localização<img src="icons/little-arrow.png"></button>
  </div>
  <div class="header_container__icons">
      <img src="icons/heart.png">
      <img src="icons/cart.png">
      <img src="icons/user.png">
  </div>
</header>
