<header class="container_header">
  <div class="menu_responsive">
    <img src="icons/menu.png">
  </div>
  <img src="img/logo.png" alt="Logo Nest" id="logo">
  <div class="header_container__input">
    <select name="select-categorys" id="select-categorys">
      <option value="all">Todas as Categorias</option>
    </select>
    <input type="text" name="search-itens" id="search" placeholder="Pesquise seus itens...">
    <span><img src="icons/search.png"></span>
  </div>
  <div class="location">
    <button><img src="icons/loc.png"> Sua Localização<img src="icons/little-arrow.png"></button>
  </div>
  <div class="header_container__icons">
      <img src="icons/heart.png">
      <img src="icons/cart.png">
      <img src="icons/user.png">
  </div>
</header>
