<div *ngIf="showNotification" class="notification">
  {{notificationMessage}}
</div>

<div class="container_products">
  <div class="card_products" *ngFor="let product of cardProducts">
    <span *ngIf="product.tag" [ngStyle]="{'background-color': getTagColor(product.tag)}"> {{product.tag}} </span>
    <img [src]="product.favorite"
    alt="favoritar"
    id="favorite"
    (click)="getToggleFavorite(product)" 
    (mouseenter)="product.showTooltip = true"
    (mouseleave)="product.showTooltip = false"
    >
    <span *ngIf="isFavoritePage && product.showTooltip" class="tooltip">Remover</span>
    <img [src]="product.image" alt="{{product.name}}">
    <span id="category"> {{product.category}} </span>
    <p id="product-name"> {{product.name}} </p>
    <div class="container_price__buy">
      <p> {{product.price}} </p>
      <button *ngIf="!product.showQuantityInput" (click)="showQuantitySelector(product)"><img src="icons/add.png"> Comprar</button>
      <div *ngIf="product.showQuantityInput" class="container_button_add-cart">
        <button (click)="changeInputValue(product, 1)" class="button_input">+</button>
        <input type="number" [(ngModel)]="product.quantity" min="1" value="1">
        <button (click)="changeInputValue(product, -1)" class="button_input">-</button>
        <button (click)="confirmPurchase(product)" (click)="addToCart(product, 1)" class="add-cart">Confirmar</button>
    </div>
    </div>
  </div>
</div>
