<div class="container_title">
  <h2>Compre por Categorias</h2>
  <div class="container_buttons">
    <button class="prev" (click)="scrolLeft()">❮</button>
    <button class="next" (click)="scrollRight()">❯</button>
  </div>
</div>
<div class="container_carousel__categories">
  <div class="container_categories" #carousel>
    <div class="card_categories" *ngFor="let category of categories" (click)="filterByCategories(category.id)">
      <img [src]="category.image" alt="{{category.name}}">
      <h4>{{ category.name }}</h4>
    </div>
  </div>
</div>
<section class="container_view__products">
  <h2 id="view_products__title"> {{productsTitle}} </h2>
  <button (click)="showAllProducts()"><img src="icons/arrow-back.png" id="arrow-back"/>Todos os Produtos</button>
</section>
<div class="container_cards">
  <app-card-products [cardProducts]="products"></app-card-products>
</div>
<div *ngIf="products.length === 0" class="container_productsnotfound">
  <h2>Não há produtos disponíveis nessa categoria.</h2>
</div>



