<header>
    <app-navbar></app-navbar>
    <app-header></app-header>
    <app-navbar-bottom></app-navbar-bottom>
</header>
<main>
    <app-banner-page></app-banner-page>
    <section class="container_favorites">
        <button (click)="goToHome()" ><img src="icons/arrow-back.png" id="arrow-back" />Voltar</button>
        <div *ngIf="favorites.length === 0;" class="container_no-favorites">
            <h2>Nenhum produto favoritado <img src="icons/broken-heart.png"></h2>
        </div>
        <app-card-products [cardProducts]="favorites" [isFavoritePage]="true"></app-card-products>
    </section>
</main>
