.container_nav {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 25px;

  @media (max-width: 1110px) {
    justify-content: center;
    gap: 30px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.container_menu {
  margin-left: 120px;
}

.menu_list {
  width: 600px;
  display: flex;
  justify-content: start;
  align-items: center;


  @media (max-width: 1150px) {
    justify-content: center;
    width: auto;
  }
}

li {
  padding-left: 40px;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1rem;
  line-height: 70px;
  color: var(--detail-blue);
  cursor: pointer;
}

li:hover {
  color: var(--primary-color);
}

li:first-of-type {
  padding-left: 5px;
}

.container_support {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  width: auto;
  margin-right: 120px;
}

.container_support > img {
  width: 28px;

  @media (max-width: 1008px) {
    width: 24px;
  }
}

p:first-of-type {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1.200rem;
  line-height: 26px;
  color: var(--primary-color);

  @media (max-width: 1008px) {
    font-size: 1.1rem;
    text-align: center;
    line-height: 18px;
  }
}

p:last-of-type {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 12px;
  letter-spacing: 0.9px;
  text-align: center;
  color: var(--color-gray2);
}
