.container_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 100px;
  border-bottom: 1px solid var(--border-color);

  @media (max-width: 1110px) {
    justify-content: center;
    gap: 30px;
  }

  @media (max-width: 768px) {
    display: none;
  }

}

#browse-all-categorys {
  width: 20%;
  height: 44px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 44px;
  color: #FFFFFF;
  padding-left: 46px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('/icons/arrow-down.png');
  background-position: right;
  background-size: 24px;
  background-repeat: no-repeat;


  @media (max-width: 1150px) {
    width: 200px;
    padding-left: 10px;
  }
}

.span_select {
  position: absolute;
  left: 10%;

  @media (max-width: 1150px) {
    display: none;
  }
}

select:focus {
  outline: none;
}

.menu_list {
  width: 600px;
  display: flex;
  justify-content: start;
  align-items: center;


  @media (max-width: 1150px) {
    justify-content: center;
    width: auto;
  }
}

li {
  padding-left: 40px;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1rem;
  line-height: 70px;
  color: var(--detail-blue);
  cursor: pointer;
}

li:hover {
  color: var(--primary-color);
}

li:first-of-type {
  padding-left: 5px;
}

.container_support {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  width: auto;
}

.container_support > img {
  width: 28px;

  @media (max-width: 1008px) {
    width: 24px;
  }
}

p:first-of-type {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1.200rem;
  line-height: 26px;
  color: var(--primary-color);

  @media (max-width: 1008px) {
    font-size: 1.1rem;
    text-align: center;
    line-height: 18px;
  }
}

p:last-of-type {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 12px;
  letter-spacing: 0.9px;
  text-align: center;
  color: var(--color-gray2);
}
