<section class="container_nav">
  <span class="span_select"><img src="icons/all.png"></span>
    <select name="browse-all-categorys" id="browse-all-categorys">
      <option value="all-categorys">Todas as Categorias</option>
    </select>
  <nav class="container_menu">
    <ul class="menu_list">
      <span><img src="icons/fire.png"></span>
      <li>Ofertas</li>
      <li>Home</li>
      <li>Sobre</li>
      <li>Blog</li>
      <li>Contato</li>
    </ul>
  </nav>
  <div class="container_support">
    <img src="icons/headphone.png">
    <div class="container_phone">
      <p>9999 - 2555</p>
      <p>Suporte 24h</p>
    </div>
  </div>
</section>
